{
  "presets": [
    [
      "env",
      {

        "target": {
          "module": false,
          "uglify": true
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
